//Must have 5 atoms
// @use 'variables' as variables;
// colors
$dark-main: #214159;
$pale-main: #BBD7F2;
$light-main: #E4ECF1;
$accent-1: #E9E7AF;
$accent-2: #FCA65F;

// fonts
$font-sans: 'Varta', sans-serif;
$font-serif: 'Vidaloka', serif;

 // media query variables
$media-min: 480px;
$media-med: 960px;
$media-max: 1260px;

// /* Media queries - with help from https://css-tricks.com/approaches-media-queries-sass/ */
@mixin small {
    @media (min-width:#{$media-min}) and (max-width: #{$media-med}) {
        @content;
    }
}
@mixin medium {
    @media (min-width: #{$media-med}) and (max-width: #{$media-max}) {
        @content;
    }
}

/* Links */
a {
    font-family: $font-serif;
    text-decoration: none;
}

ul {
    font-family: $font-serif;
    color: $accent-2;
    list-style: none;

}

p {
    font-family: $font-serif;
    color:$dark-main;
    background-color:$light-main;
    padding: 0;
    }



//Heading styles
h1 {
    background-color:$accent-1;
    color:$dark-main;
    text-align: center;
  font: {
        size: 3rem;
        family: $font-sans;
        weight: bold;
        
    }
}
 
 h2 {
    background-color:$accent-1;
    color:$dark-main;
    text-align: center;
    font: {
        size: 2.25rem;
        family: $font-sans;
        weight: bold;
    }
}

h3 {
    background-color:$accent-1;
    color:$dark-main;
    text-align: center;
    font: {
        size: 1.5rem;
        family: $font-sans;
        weight: bold;
    }
}

h1, h2, h3 {
    width: 100%;
    margin-top: 0px;
    font-family: "Varta", sans-serif;
    background: linear-gradient(to bottom, $accent-1, $accent-2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: -20px;
  }