//Must have 5 atoms
@use 'variables' as *;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Links */
a {
    font-family: $serif-font;
    text-decoration: none;
    color: $accent-2;
}

a:hover {
    color: $accent-1;
}

ul {
    font-family: $serif-font;
    color: $accent-2;
    list-style: none;

}

p {
    font-family: $serif-font;
    padding: 0;
}



//Heading styles
h1 {
    text-align: left;
    
    width: 100%;
    margin-top: 0px;
    background-image: linear-gradient(to top, $accent-1, $accent-2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;

    font: {
        size: 3rem;
        family: $san-font;
        weight: bold;
    }
}

h2 {
    text-align: left;
    background-image: linear-gradient(to top, $accent-1, $accent-2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font: {
        size: 2.25rem;
        family: $san-font;
        weight: bold;
    }
}

h3 {
    text-align: left;
    background: linear-gradient(to top, $accent-1, $accent-2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font: {
        size: 1.5rem;
        family: $san-font;
        weight: bold;
    }
}

h2,
h3 {
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(to bottom, $accent-1, $accent-2);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    //margin-bottom: -20px;
}