// media query variables
@use 'variables' as *;



.wrapper {
  //Small responsive width
  @media (min-width:#{$media-min}) and (max-width: #{$media-med}) {
    background: $dark-main;
    text-align: center;

    h3 {
      text-align: center;
      padding: 5px;
    }

    .design-name {
      display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
      }

  }

//Medium responsive width
  @media (min-width: #{$media-med}) and (max-width: #{$media-max}) {
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 10em;
  left: 10px;
  background: $dark-main;
  padding: 8px 5px;
  &h3{
  font-size: 12px;
  text-align: left;
  }
}

  //Large responsive width
  @media (min-width: #{$media-max}) {
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 10em;
  left: 10px;
  background: $dark-main;
  padding: 8px 5px;
  &h3{
  font-size: 12px;
  text-align: left;
  }
}
}


// header
header {
  padding: 20px;
  max-width: 960px;
}

header h1 {
  @media (min-width: #{$media-med}) {
  margin-left: 120px;
}
}

header h2 {
  @media (min-width: #{$media-med}) {
  margin-left: 175px;
  }
}

// footer
footer {
  padding: 20px;
  text-align: center;
  a {
  font-family: $serif-font;
  text-decoration: none;
  color: $dark-main;
  }
}

// ArticleS
#zen-preamble h3,
#zen-supporting h3 {
  @media (min-width:#{$media-min}) and (max-width: #{$media-med}) {
    margin-left: 0px;
   }

   @media (min-width: #{$media-med}) {
    margin-left: -50px;
    padding-bottom: 10px;
   }

  
}

#zen-intro {
  background-image: url(./ZenGardenLogo2AltFont.png);
  background-repeat: no-repeat;
  display: block;
}


