// colors
$dark-main: #214159;
$pale-main: #BBD7F2;
$light-main: #E4ECF1;
$accent-1: #E9E7AF;
$accent-2: #FCA65F;

// fonts
$font-sans: 'Varta', sans-serif;
$font-serif: 'Vidaloka', serif;

 // media query variables
$media-min: 480px;
$media-med: 960px;
$media-max: 1260px;

// /* Media queries - with help from https://css-tricks.com/approaches-media-queries-sass/ */
@mixin small {
    @media (min-width:#{$media-min}) and (max-width: #{$media-med}) {
        @content;
    }
}
@mixin medium {
    @media (min-width: #{$media-med}) and (max-width: #{$media-max}) {
        @content;
    }
}
 // positioning


header {
    display: grid;
    grid-template-columns: 20% 80%;
    }

#zen-intro {
    background-image: url(/ZenGardenLogo2AltFont.png);
    background-repeat: no-repeat;
    display: block;
}

/*#css-zen-garden {
    max-width: 960px;
    margin: 0 auto;
    background-color: $dark-main;
    color: $light-main;
}*/

[role=article] {
    background-color: #E4ECF1;
    padding: 0 10px;
    margin-left: 140px;
    max-width: 960px;
  }

  body {
    background-color: #214159;
    background-image: linear-gradient(to bottom right, #214159, #BBD7F2, #E9E7AF, #FCA65F);
  }