@use 'variables' as *;


[role=article] {
    margin-left: 250px;
    max-width: 960px;
    color: $pale-main;
}

[role=article] p{
    padding: 8px;
    background-color: $dark-main;
}


body {
    background-image: linear-gradient(to bottom right, $dark-main 20%, $med-main, $accent-1, $accent-2);
}

 
//Grid layout

//Small responsive grid
  @media (min-width:#{$media-min}) and (max-width: #{$media-med}) {
    .intro { grid-area: intro; }
    .summary { grid-area: summary; }
    .preamble{ grid-area: preamble; }
    #zen-explanation{ grid-area: explanation; }
    #zen-participation{ grid-area: participation; }
    #zen-benefits{ grid-area: benefits; }
    #zen-requirements{ grid-area: requirements; }
    .wrapper{ grid-area: wrapper; }
    footer{ grid-area: footer; }
   
    .page-wrapper {
        display: grid;
        grid-template-areas: 
            'intro'
            'summary'
            'preamble'
            'explanation'
            'participation'
            'benefits'
            'requirements'
            'wrapper'
            'footer';
        padding:  20px 0 0;      
    }

    h1 {
     margin-left: 90px;
    }

    [role=article] {
        margin-left: 20px;
      }

    .wrapper {
        margin-left: 0px;
        padding: 20px;
      }
  }
 
 
//Medium responsive grid
@media (min-width: 960px) and (max-width: 1260px) {
    #zen-intro { grid-area: intro; }
    #zen-summary { grid-area: summary; }
    #zen-preamble{ grid-area: preamble; }
    #zen-explanation{ grid-area: explanation; }
    #zen-participation{ grid-area: participation; }
    #zen-benefits{ grid-area: benefits; }
    #zen-requirements{ grid-area: requirements; }
    .wrapper{ grid-area: wrapper; }
    footer{ grid-area: footer; }
   
    .page-wrapper {
        display: grid;
        grid-template-columns: 180px 100px auto;
        grid-template-areas: 
            'intro intro intro'
            '. . summary'
            '. . preamble'
            '. . explanation'
            '. . participation'
            '. . benefits'
            '. . requirements'
            'footer footer footer';
        padding: 0 20px 0 0;           

    .wrapper {
        margin-left: 0px;
        padding: 20px;
        }
    }


  }
  
//Large responsive grid
  /*@media (min-width: #{$media-max}) {
    .page-wrapper {
    }    
    
    }*/
  

  

