// styles.scss
// Group 5: Emily Mason, Kelsey Scott, and Beth Yanez
// WDD 331R, Fall 2022, Zen Garden
// variables file
/*"Add variables to that file with your chosen colors and fonts 
(https://byui-cit.github.io/advcss/modules/req/zen-1-prove.html)."*/

@import url('https://fonts.googleapis.com/css2?family=Varta&family=Vidaloka&display=swap');


// colors
$dark-main: #214159;
$pale-main: #BBD7F2;
$light-main: #E4ECF1;
$accent-1: #E9E7AF;
$accent-2: #FCA65F;

// fonts
$font-sans: 'Varta', sans-serif;
$font-serif: 'Vidaloka', serif;

 // media query mix-ins
$media-min: 480px;
$media-med: 960px;
$media-max: 1260px;

 // positioning

 