// styles.scss
// Group 5: Emily Mason, Kelsey Scott, and Beth Yanez
// WDD 331R, Fall 2022, Zen Garden
// atoms file
/* "These atoms include basic HTML elements like form labels, 
inputs, buttons, and others that can’t be broken down any 
further without ceasing to be functional.
(https://atomicdesign.bradfrost.com/chapter-2/)" */

#zen-intro .intro h1 {
    font-family: ;
}

#zen-intro .intro h2 {
    font-family: ;
}

#zen-summary .summary p {
    font-family: ;
}

#zen-preamble .preamble p {
    font-family: ;
}

#zen-explanation .explanation h3 {
    font-family: ;
}

#zen-explanation .explanation p {
    font-family: ;
}

#zen-participation .participation h3 {
    font-family: ;
}

#zen-participation .participation p {
    font-family: ;
}

#zen-benefits .benefits h3 {
    font-family: ;
}

#zen-benefits .benefits p {
    font-family: ;
}

#zen-requirements .requirements h3 {
    font-family: ;
}

#zen-requirements .requirements p {
    font-family: ;
}

footer a {
    font-family: ;
}

//break at 112, sidebar