/*"Add variables to that file with your chosen colors and fonts 
(https://byui-cit.github.io/advcss/modules/req/zen-1-prove.html)."*/
@import url("https://fonts.googleapis.com/css2?family=Varta&family=Vidaloka&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  font-family: "Varta", sans-serif;
  text-decoration: none;
  color: #FCA65F;
}

a:hover {
  color: #E9E7AF;
}

ul {
  font-family: "Varta", sans-serif;
  color: #FCA65F;
  list-style: none;
}

p {
  font-family: "Varta", sans-serif;
  padding: 0;
}

h1 {
  text-align: left;
  width: 100%;
  margin-top: 0px;
  background-image: linear-gradient(to top, #E9E7AF, #FCA65F);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  font-size: 3rem;
  font-family: "Vidaloka", serif;
  font-weight: bold;
}

h2 {
  text-align: left;
  background-image: linear-gradient(to top, #E9E7AF, #FCA65F);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.25rem;
  font-family: "Vidaloka", serif;
  font-weight: bold;
}

h3 {
  text-align: left;
  background: linear-gradient(to top, #E9E7AF, #FCA65F);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-family: "Vidaloka", serif;
  font-weight: bold;
}

h2,
h3 {
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(to bottom, #E9E7AF, #FCA65F);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 480px) and (max-width: 960px) {
  .wrapper {
    background: #214159;
    text-align: center;
  }
  .wrapper h3 {
    text-align: center;
    padding: 5px;
  }
  .wrapper .design-name {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 960px) and (max-width: 1260px) {
  .wrapper {
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 10em;
    left: 10px;
    background: #214159;
    padding: 8px 5px;
  }
  .wrapperh3 {
    font-size: 12px;
    text-align: left;
  }
}
@media (min-width: 1260px) {
  .wrapper {
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 10em;
    left: 10px;
    background: #214159;
    padding: 8px 5px;
  }
  .wrapperh3 {
    font-size: 12px;
    text-align: left;
  }
}

header {
  padding: 20px;
  max-width: 960px;
}

@media (min-width: 960px) {
  header h1 {
    margin-left: 120px;
  }
}

@media (min-width: 960px) {
  header h2 {
    margin-left: 175px;
  }
}

footer {
  padding: 20px;
  text-align: center;
}
footer a {
  font-family: "Varta", sans-serif;
  text-decoration: none;
  color: #214159;
}

@media (min-width: 480px) and (max-width: 960px) {
  #zen-preamble h3,
#zen-supporting h3 {
    margin-left: 0px;
  }
}
@media (min-width: 960px) {
  #zen-preamble h3,
#zen-supporting h3 {
    margin-left: -50px;
    padding-bottom: 10px;
  }
}

#zen-intro {
  background-image: url(./ZenGardenLogo2AltFont.png);
  background-repeat: no-repeat;
  display: block;
}

[role=article] {
  margin-left: 250px;
  max-width: 960px;
  color: #BBD7F2;
}

[role=article] p {
  padding: 8px;
  background-color: #214159;
}

body {
  background-image: linear-gradient(to bottom right, #214159 20%, #8397ab, #E9E7AF, #FCA65F);
}

@media (min-width: 480px) and (max-width: 960px) {
  .intro {
    grid-area: intro;
  }
  .summary {
    grid-area: summary;
  }
  .preamble {
    grid-area: preamble;
  }
  #zen-explanation {
    grid-area: explanation;
  }
  #zen-participation {
    grid-area: participation;
  }
  #zen-benefits {
    grid-area: benefits;
  }
  #zen-requirements {
    grid-area: requirements;
  }
  .wrapper {
    grid-area: wrapper;
  }
  footer {
    grid-area: footer;
  }
  .page-wrapper {
    display: grid;
    grid-template-areas: "intro" "summary" "preamble" "explanation" "participation" "benefits" "requirements" "wrapper" "footer";
    padding: 20px 0 0;
  }
  h1 {
    margin-left: 90px;
  }
  [role=article] {
    margin-left: 20px;
  }
  .wrapper {
    margin-left: 0px;
    padding: 20px;
  }
}
@media (min-width: 960px) and (max-width: 1260px) {
  #zen-intro {
    grid-area: intro;
  }
  #zen-summary {
    grid-area: summary;
  }
  #zen-preamble {
    grid-area: preamble;
  }
  #zen-explanation {
    grid-area: explanation;
  }
  #zen-participation {
    grid-area: participation;
  }
  #zen-benefits {
    grid-area: benefits;
  }
  #zen-requirements {
    grid-area: requirements;
  }
  .wrapper {
    grid-area: wrapper;
  }
  footer {
    grid-area: footer;
  }
  .page-wrapper {
    display: grid;
    grid-template-columns: 180px 100px auto;
    grid-template-areas: "intro intro intro" ". . summary" ". . preamble" ". . explanation" ". . participation" ". . benefits" ". . requirements" "footer footer footer";
    padding: 0 20px 0 0;
  }
  .page-wrapper .wrapper {
    margin-left: 0px;
    padding: 20px;
  }
}
/*@media (min-width: 1260px) {
  .page-wrapper {
  }    

  }*//*# sourceMappingURL=style.css.map */