// color palette - these colors will be the color swatches of the Colors section

$color-1: #214159; // Indigo Dye buttons and links
$color-2: #BBD7F2; // Beau blue background
$color-3: #E9E7AF; // Pale Spring Bud
$color-4: #E4ECF1; // Alice Blue
$color-5: #FCA65F; // Sandy Brown

// additional colors

