@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


$primary-font: 'Open Sans Condensed', sans-serif;
$secondary-font: 'Zen Loop', cursive;
$tertiary-font: 'Quicksand', sans-serif;